<html><head>
    <title>Pummel - Auto tumble your pinboard.in links!</title>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
</head><body>
<p>
    <h2><a href="<%= rss.channel.link %>"><%= rss.channel.title %></a></h2>
    <span><%= rss.channel.description %></span> (<a href="/refresh">refresh</a>)
</p>
<div id="oembed_feed">
<% rss.items.each do |item| %>
    <p><%
   begin
      oemb = OEmbed::Providers.get(item.link) %>
      <%= generate_html(oemb) %>
<% rescue OEmbed::NotFound %>
    <a href="<%= item.link %>"><%= item.title %></a>
<% rescue OEmbed::Error => error %>
    <a href="<%= item.link %>"><%= item.title %></a><code>Error: <%= error.to_s %></code>
<% end %>
<hr /></p>
<% end %>
</div></body></html>
